---
import Section from '@components/Section.astro';
import BulletList from '@components/BulletList.astro';
import { strategicImpact, site } from '@lib/content';
---

<Section id="impact" title={site.sections.impact.title}>
  <BulletList items={strategicImpact.items} />
</Section>
