---
import Section from '@components/Section.astro';
import BulletList from '@components/BulletList.astro';
import { mentorship, site } from '@lib/content';
---

<Section id="mentorship" title={site.sections.mentorship.title}>
  <BulletList items={mentorship.items} />
</Section>
